<ion-view view-title="活动中心" hide-nav-bar="true">
  <ion-content>
   <ul class="activity-ul">
     <li>
     </li>
   </ul>
  </ion-content>
</ion-view>

<!-- <img src="../img/2345.jpg">
 <div class="overlay">
 <h4>活动介绍</h4>
 </div>
 <h5>2016-05-12</h5>
 <p>活动介绍活动介绍活动介绍活动介绍
   活动介绍活动介绍活动介绍活动介绍活
   动介绍</p>
</li>
<li>
 <img src="../img/2345.jpg">
 <div class="overlay">
   <h4>活动介绍</h4>
 </div>
 <h5>2016-05-12</h5>
 <p>活动介绍活动介绍活动介绍活动介绍
   活动介绍活动介绍活动介绍活动介绍活
   动介绍</p>
</li>
<li>
 <img src="../img/2345.jpg">
 <div class="overlay">
   <h4>活动介绍</h4>
 </div>
 <h5>2016-05-12</h5>
 <p>活动介绍活动介绍活动介绍活动介绍
   活动介绍活动介绍活动介绍活动介绍活
   动介绍</p>
</li>
<li>
 <img src="../img/2345.jpg">
 <div class="overlay">
   <h4>活动介绍</h4>
 </div>
 <h5>2016-05-12</h5>
 <p>活动介绍活动介绍活动介绍活动介绍
   活动介绍活动介绍活动介绍活动介绍活
   动介绍</p>
</li>
<!--     <li>
 <img src="../img/2345.jpg">
 <h5>2016-05-12</h5>
 <p>活动介绍活动介绍活动介绍活动介绍
   活动介绍活动介绍活动介绍活动介绍活
   动介绍</p>
</li>
<li>
 <img src="../img/2345.jpg">
 <h5>2016-05-12</h5>
 <p>活动介绍活动介绍活动介绍活动介绍
   活动介绍活动介绍活动介绍活动介绍活
   动介绍</p>
</li>
<li>
 <img src="../img/2345.jpg">
 <h5>2016-05-12</h5>
 <p>活动介绍活动介绍活动介绍活动介绍
   活动介绍活动介绍活动介绍活动介绍活
   动介绍</p>
</li>
<li>
 <img src="../img/2345.jpg">
 <h5>2016-05-12</h5>
 <p>活动介绍活动介绍活动介绍活动介绍
   活动介绍活动介绍活动介绍活动介绍活
   动介绍</p>
</li>
<li>
 <img src="../img/2345.jpg">
 <h5>2016-05-12</h5>
 <p>活动介绍活动介绍活动介绍活动介绍
   活动介绍活动介绍活动介绍活动介绍活
   动介绍</p>-->
