<ion-view view-title="写留言" hide-nav-bar="true">
  <ion-content style="background-color: #f7f7f7">
    <ul class="contact-ul">
      <li>
        <div class="contact-title">
          <h6>今日确权</h6>
        </div>
        <p>2016-05-18 11:02</p>
        <span herf="#">浙金120期</span>
        <hr style="width: 90%;margin-left: 5%;color: #f7f7f7"/>
        <p>2016-05-18 11:02</p>
        <span herf="#">浙金120期</span>
        <hr style="width: 90%;margin-left: 5%;color: #f7f7f7"/>
        <p>2016-05-18 11:02</p>
        <span herf="#">浙金120期</span>
        <hr style="width: 90%;margin-left: 5%;color: #f7f7f7"/>
        <p>2016-05-18 11:02</p>
        <span herf="#">浙金120期</span>
        <hr style="width: 90%;margin-left: 5%;color: #f7f7f7"/>
        <p>2016-05-18 11:02</p>
        <span herf="#">浙金120期</span>
      </li>
      <li>
        <div class="contact-title">
          <h6>2016-05-17</h6>
        </div>
        <p>2016-05-18 11:02</p>
        <span herf="#">浙金120期</span>
        <hr style="width: 90%;margin-left: 5%;color: #f7f7f7"/>
        <p>2016-05-18 11:02</p>
        <span herf="#">浙金120期</span>
        <hr style="width: 90%;margin-left: 5%;color: #f7f7f7"/>
        <p>2016-05-18 11:02</p>
        <span herf="#">浙金120期</span>
        <hr style="width: 90%;margin-left: 5%;color: #f7f7f7"/>
        <p>2016-05-18 11:02</p>
        <span herf="#">浙金120期</span>
        <hr style="width: 90%;margin-left: 5%;color: #f7f7f7"/>
        <p>2016-05-18 11:02</p>
        <span herf="#">浙金120期</span>
      </li>
    </ul>
  </ion-content>
</ion-view>

