<ion-view view-title="给我鼓励" hide-nav-bar="true">
  <ion-content>
    <select class="feedback-select">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <div class="content has-header">
      <label class="item item-input feedback-textarea">
        <textarea cols="30" rows="10" placeholder="请输入您的反馈意见">
        </textarea>
      </label>
      <label class="item item-input -textarea">
        <textarea cols="10" rows="1" placeholder="请输入您的电话号码">
        </textarea>
      </label>
    </div>
  </ion-content>
</ion-view>
