<ion-view view-title="给我鼓励" hide-nav-bar="true">
  <ion-content style="background-color: #f7f7f7">
    <div class="feedback-box">
      <select title="">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <div>
        <textarea placeholder="请输入您的反馈意见"></textarea>
      </div>
      <div>
        <input placeholder="请输入您的手机号码">
      </div>
      <span herf="#">
      <button>提    交</button>
      </span>
    </div>
   </ion-content>
</ion-view>
