<ion-view view-title="给我鼓励" hide-nav-bar="true">
  <ion-content>
    <div style="text-align:center">
      <select class="feedback-select">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div>
      <textarea class="feedback-textarea" placeholder="请输入您的反馈"></textarea>
    </div>
    <input class="feedback-input" placeholder="请输入您的电话">
    <button class="feedback-button">提交</button>
  </ion-content>
</ion-view>
