<ion-view view-title="浙金社区" class="note-detail" hide-nav-bar="true">
  <ion-content>
    <h2>{{forumNote.title}}</h2>
    <ul>
      <li ng-class="{'master':$index==0}" ng-repeat="detail in forumNote.commentList">
        <div class="hd">
          <div class="pic">
            <img src="img/ico-pep.gif">
          </div>
          <div class="cover">
            <p class="msg"><strong><a href="#">{{detail.userName}}</a></strong><em>{{detail.status}}</em></p>
            <p class="opbar">{{detail.date}}<!--<a href="#">收藏</a><a href="#">只看楼主</a>--></p>
          </div>
          <div >
            {{detail.content}}
          </div>
          <div class="visitcomment">
            <section >
              <ul>
                <li>
                  <label><a href="">公司名称：</a></label><a on-tap="showReplyBox()">浙江金融资产交易中心</a>
                </li>
                <li>
                  <label><a href="">公司地址：</a></label><a on-tap="showReplyBox()">杭州市江干区富春路290号钱江国际时代广场2幢27-29层</a>
                </li>
                <li>
                  <label><a href="">公司网址：</a></label><a on-tap="showReplyBox()">http://www.zjfae.com</a>
                </li>
                <li>
                  <label><a href="">电子邮件：</a></label><a on-tap="showReplyBox()">service@zjfae.com</a>
                </li>
              </ul>
            </section>
          </div>
          <div class="ft text-right">
            <a href="#"><i class="icon ion-android-textsms" on-tap="showBox()"> </i></a>
          </div>

        </div>
        <div ng-class="{true:'',false:'hide'}[showbox]">
          <label  class="item item-input " style="margin-right: 10px;margin-left: 10px">
            <input type="text" style="word-break: break-all" placeholder="{{somePlaceholder}}">
          </label>
          <div class="form-item clearfix" style="">
            <button type="button" style="width: 15%;float: right;display: block;margin-right: 10px" class="button button-small button-assertive button-block" on-tap="hideBox()">提交</button>
          </div>
        </div>
      </li>
    </ul>
  </ion-content>
  <ion-footer-bar>
    <a class="button button-assertive" ng-href="#forumNoteSpeak/{{forumNote.noteId}}">写留言</a>
  </ion-footer-bar>
</ion-view>
