<ion-view view-title="浙金APP外部WEB">
    <ion-content>
      <div class="list card">
        <a ui-sref="forum" class="item item-icon-left">
          社区
        </a>
        <a ui-sref="addService" class="item item-icon-left">
          增值服务
        </a>
        <a ui-sref="moreActivityCenter" class="item item-icon-left">
          更多/活动中心
        </a>
        <a ui-sref="moreNews" class="item item-icon-left">
          更多/新闻
        </a>
        <a ui-sref="moreFeedback" class="item item-icon-left">
          更多/意见反馈
        </a>
        <a href="#" class="item item-icon-left">
          更多/服务中心（暂无）
        </a>
        <a ui-sref="moreGiveEncourage" class="item item-icon-left">
          更多/给我鼓励（暂无）
        </a>
      </div>
    </ion-content>
</ion-view>
