<ion-view view-title="意见反馈" hide-nav-bar="true">
  <ion-content class="feedback">
    <div class="list list-space">
      <label class="item item-input item-select">
        <div class="input-label">
          意见类型
        </div>
        <select>
          <option>类型一</option>
          <option selected>类型二</option>
          <option>类型二</option>
        </select>
      </label>
      <label class="item item-input">
        <textarea cols="30" rows="10" placeholder="请输入您的反馈意见"></textarea>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="请输入您的手机号">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block button-assertive">
       提交
      </button>
    </div>
  </ion-content>
</ion-view>
