<ion-view view-title="意见反馈" hide-nav-bar="true">
  <ion-content class="feedback">
    <div style="text-align: center">
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    <div>
      <textarea cols="30" rows="10" placeholder="请输入您的反馈意见"></textarea>
    </div>
    <input type="text" placeholder="请输入您的手机号">
    <div class="padding" style="margin-top: 40%">
      <button class="button button-block button-assertive">
       提交
      </button>
    </div>
  </ion-content>
</ion-view>
