<ion-view view-title="新闻" hide-nav-bar="true">
  <ion-content>
    <ul class="news-box">
        <li>
          <span href="#">
            <h5>2016-5-12</h5>
            <h4>浙江金融资产交易中心系统消息</h4>
            <p>浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息
            浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息浙
            江金融资产交易中心系统消息</p>
          </span>
        </li>
      <li>
          <span href="#">
            <h5>2016-5-12</h5>
            <h4>浙江金融资产交易中心系统消息</h4>
            <p>浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息
              浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息浙
              江金融资产交易中心系统消息</p>
          </span>
      </li>
      <li>
          <span href="#">
            <h5>2016-5-12</h5>
            <h4>浙江金融资产交易中心系统消息</h4>
            <p>浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息
              浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息浙
              江金融资产交易中心系统消息</p>
          </span>
      </li>
      <li>
          <span href="#">
            <h5>2016-5-12</h5>
            <h4>浙江金融资产交易中心系统消息</h4>
            <p>浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息
              浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息浙
              江金融资产交易中心系统消息</p>
          </span>
      </li>
      <li>
          <span href="#">
            <h5>2016-5-12</h5>
            <h4>浙江金融资产交易中心系统消息</h4>
            <p>浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息
              浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息浙
              江金融资产交易中心系统消息</p>
          </span>
      </li>
      <li>
          <span href="#">
            <h5>2016-5-12</h5>
            <h4>浙江金融资产交易中心系统消息</h4>
            <p>浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息
              浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息浙
              江金融资产交易中心系统消息</p>
          </span>
      </li>
      <li>
          <span href="#">
            <h5>2016-5-12</h5>
            <h4>浙江金融资产交易中心系统消息</h4>
            <p>浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息
              浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息浙
              江金融资产交易中心系统消息</p>
          </span>
      </li>
      <li>
          <span href="#">
            <h5>2016-5-12</h5>
            <h4>浙江金融资产交易中心系统消息</h4>
            <p>浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息
              浙江金融资产交易中心系统消息浙江金融资产交易中心系统消息浙
              江金融资产交易中心系统消息</p>
          </span>
      </li>
    </ul>
  </ion-content>
</ion-view>
